---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<div class="wrapper-deluxe">
<div class="row">

    <h1>Hello!</h1>
    <h2>You're awesome!</h2>
    <h3>Senior Frontend Developer, 31yo from Germany is searching for a 4-6 Week Job on-site in<br>the United States from end of May until mid July 2015</h3>
    <figure class="boom">
        <img src="assets/img/pepo.jpg">
        <button></button>
    <figcaption>Photo made by Christian Siedler, @labuero.</figcaption>
    </figure>

</div>
    <div class="row">
        <div class="col-md-6">
            <p>My name is Pascal Szewczyk (but nobody can spell or pronounce my last name the right way, including me). I live in Germany near Düsseldorf and Cologne.

            <p>My English teacher and I weren’t the best of friends in school. :-). So i missed the opportunity to speak and understand English like i want. At 31 years old now, i am very sad about this.

            <p>Don`t get me wrong. I can speak and write English. But I want to know it better. And my way to do this is to come to the United States and live for awhile among you.

            <p>I am very well connected in the German developer scene, and I'm proud to be a part of it and the open web.

            <p>So I often visit conferences in Europe, and in 2014, I organized a BBQ for the Web platform Doc Sprint in Düsseldorf. Here you can find, in the official Adobe Blog, a review by Sprint of my very good handmade hamburgers.

            <p>In my home area, I am the core organizer of a web developer meet-up and am also involved in the web developer meet-up in Düsseldorf.

            <p>In the past i worked for several well-known companies:
            <ul>
                <li>Hugo Boss, Responsive Front-End-Lead.</li>
                <li>BILD (biggest newspaper in Germany)</li>
                <li>R+V (insurance company) Front-End-Lead.</li>
                <li>Telekom, Responsive Frontend</li>
            </ul>

            <p>If you have a job opportunity for me or you would like to drink a beer with me, please contact me!</p>

        </div>

        <div class="col-md-4 col-md-offset-2">
            <h4>Skills:</h4>
            <p>HTML 10/10<br>
            <img src="assets/img/star.svg" width="15" height="15">
            <img src="assets/img/star.svg" width="15" height="15">
            <img src="assets/img/star.svg" width="15" height="15">
            <img src="assets/img/star.svg" width="15" height="15">
            <img src="assets/img/star.svg" width="15" height="15">
            <img src="assets/img/star.svg" width="15" height="15">
            <img src="assets/img/star.svg" width="15" height="15">
            <img src="assets/img/star.svg" width="15" height="15">
            <img src="assets/img/star.svg" width="15" height="15">
            <img src="assets/img/star.svg" width="15" height="15"></p>

            <p>CSS 10/10<br>
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15"></p>

            <p>JavaScript 8/10<br>
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15"></p>

            <p>Jokes 11/10<br>
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15"></p>

            <p>Design 7/10<br>
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15"></p>

            <p>Perfomance 8/10<br>
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15"></p>

                 <p>PHP 6/10<br>
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15"></p>

                <p>Python with Django 7/10<br>
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15">
                <img src="assets/img/star_grau.svg" width="15" height="15"></p>


            <p>BBQ 10/10<br>
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15">
                <img src="assets/img/star.svg" width="15" height="15"></p>

                <h2>Do you have a freelance Job for me?</h2>
                <h3>Yes!</h3>
                <p><a href="#contact-me">Please contact me!</a></p>

                <h3>No!</h3>
                <p>Please help me and share this with your friends!</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Hey @derPepo is searching for a freelance Job in the states from End of May to Mid July. Can you help him? That would be awsome!" data-via="derPepo" data-hashtags="PepoUSA">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

    </div>


    <div class="row faces">
        <div class="col-md-12">
            <h3>What People says about me</h3>
        </div>

        <div class="col-md-2">
            <h5>Peter Kröner, German HTML5 Book Author</h5>
            <img src="assets/img/profil-peter-kroener.jpg">
            <blockquote>"Larger than life, he is a genius organization talent and has a lot of jokes inside"</blockquote>
        </div>
        <div class="col-md-2">
            <h5>Christian Schaefer, Host Workingdraft Webdevlopment Podcast</h5>
            <img src="assets/img/schepp.jpeg">
            <blockquote>"I like to talk with him, he has a very open mind also beyond the web topics"</blockquote>
        </div>
        <div class="col-md-2">
            <h5>Yvonne Hartig, Girlfriend</h5>
            <img src="assets/img/yvonne_hartig.jpg">
            <blockquote>"He is awesome. I am so happy that we are engaged"</blockquote>
        </div>
        <div class="col-md-2">
            <h5>Andre Jay Meissner, Adobe</h5>
            <img src="assets/img/jay.jpg">
            <blockquote>"man of action and he has always a good restaurant tipp"</blockquote>
        </div>
        <div class="col-md-2">
            <h5>Frederik Braun, Mozilla - Security Engineer</h5>
            <img src="assets/img/frederik_braun.jpg">
            <blockquote>"A very good friend of mine and i am very happy to have him"</blockquote>
        </div>
        <div class="col-md-2">
            <h5>Dr. Jody Strauch, Northwest Missouri State University </h5>
            <img src="assets/img/jody.png">
            <blockquote>Pascal knows his stuff from HTML to BBQ, and he is someone you can always count on, for hard work and bad jokes.</blockquote>
        </div>
    </div>
    <div class="row questions">
        <h2>Do you have any questions?</h2>

        <a class="btn" href="#contact-me" id="yes">YES</a>
        <button class="btn" href="contact-me" id="no">NO</button>

    </div>

<div class="no-questions closed row" id="no-questions">
    <div class="">
        <h2>Ok no problem, I have a few for you!</h2>
        <h3>Do you use a pre-processor?</h3>
        <p>Yes i prefer SASS, because the community of SASS is in my point of view a little bit better than LESS or Stylus.</p>

        <h3>What build-tool do you prefer?</h3>
        <p>i like to use grunt more than gulp, because you get everything you want for grunt :)</p>

        <h3>What is your favorite Soccer-Team in Germany?</h3>
        <p>Of course is Schalke 04, the best Team in the world. I will teach you to belive me in this point :)</p>
    </div>
</div>

    <div class="row faces" id="contact-me">
        <h2>Contact me!</h2>
        <p>Pascal Szewczyk<br>
        Send me an e-mail: <a href="mailto:ps@elektrowecker.de">ps@elektrowecker.de</a><br>
        Add me on Jabber: <a href="xmpp://ps@elektrowecker.de">ps@elektrowecker.de</a><br>
        Skype with me: <a href="skype://pascalszewczyk">pascalszewczyk</a></p>

        <p>Or send me a letter<br>
        Goebenstraße 6<br>
        46236 Bottrop<br>
        - Germany -</p>

        <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <div id="SkypeButton_Call_pascalszewczyk_1">
            <script type="text/javascript">
                Skype.ui({
                    "name": "chat",
                    "element": "SkypeButton_Call_pascalszewczyk_1",
                    "participants": ["pascalszewczyk"],
                    "imageSize": 24
                });
            </script>
        </div>
        </div>
    </div>
<footer>
    We see each other in the States
</footer>

</div>

