<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>31yo Frontend-End-Pro is searching for a job in the states from end of may 2015 until mid july 2015</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">

    <!-- Bootstrap theme -->
    <link href="{{assets}}/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{assets}}/css/theme.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<!--

-->
    <div class="container theme-showcase" role="main">

      {{> body }}

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{assets}}/js/bootstrap.min.js"></script>

    <script>
        $("#no").click(function(){
            $(".no-questions").toggleClass("closed");
            $('html, body').animate({
                scrollTop: $("#no-questions").offset().top -100
            }, 500);
        });

        $("#yes").click(function(e) {
            e.preventDefault();
            $('html, body').animate({
                scrollTop: $("#contact-me").offset().top
            }, 500);
        });
    </script>
  </body>
</html>
