body {
    padding-top: 8rem;
    padding-bottom: 100%;
    background-image: url("../img/background.png");
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
}

html{
    height: 100%;
}
img{
    max-width: 100%;
}

blockquote{
    margin:0;
    padding: 0;
    font-size: 1.25rem;
    padding-left: 1rem;
}

.faces h5{
    height: 4em;
}
.faces img{
    margin-bottom: 1rem;
}

.row{
    background-color: #fff;
    padding: 3rem;
}


.wrapper-deluxe{

}

.questions{
    text-align: center;
}

.questions .btn{
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #000;
    font-size: 2em;
    width: 4em;
    margin: 0 5%;
    color: #000;
}

.no-questions {
    padding:0;
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.no-questions.closed {
    max-height: 0;
}

.boom{
    position: relative;
}

.boom button{
    border: 2px dotted white;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    left: 0;
    top: 0;
    left: 70%;
}
